In [1]:
import numpy as np
import pandas as pd
import math

In [175]:
#city_name = input("City name: ")
name = "2018-05-08.csv"
df = pd.read_csv(r"G:\\MovingWalls\\GAP ESTIMATION\\2.shell_traffic_20180611\\Jalan Ampang 10\\" + name , parse_dates=['Date_Time'])

In [176]:
#df.head()

#### difference  = real time Duration value - Average duration value

In [177]:
df["Distance_Value"] = df["Distance_Value"] *1000
df["difference"] = df["Duration_In_Traffic_Value"] - df["Duration_Value"]

In [178]:
#df.head()
#df.tail()

In [179]:
   list = [];
for val in df["difference"].values:
    if val <= -7:
        #print(val)
        list.append(5)
    elif val >= -6 and val <= -5:
        list.append(0.5)
    elif val >= -4 and val <= -3:
        list.append(0.3)
    elif val >= -2 and val <= -1:
        list.append(0.1)
    elif val >= 0 and val <= 1:
        list.append(0.09)
    elif val >= 2 and val <= 3:
        list.append(0.08)
    elif val >= 4 and val <= 5:
        list.append(0.07) 
    elif val >= 6 and val <= 7:
        list.append(0.06) 
    elif val >= 8 and val <= 9:
        list.append(0.05)  
    elif val >= 10 and val <= 19:
        list.append(0.04)   
    elif val >= 20 and val <= 49:
        list.append(0.03) 
    elif val >= 50 and val <= 79:
        list.append(0.02)
    elif val >= 80:
        list.append(0.01)    
    else:
        list.append("not in range")
   

#print(list)

In [180]:
#pd.DataFrame(np.array(corpus), columns=['text'])

df["gap"] = pd.DataFrame(np.array(list))

In [181]:
#df.head()

#### no of cars per minute = [speed(per minute) / (gap estimation x 1000)] x 60

#### speed = [road distance /(average time value + difference value)] x60

In [182]:
# finding out the speed first

df["speed"] = (df.Distance_Value /(df.Duration_Value + df.difference)) * 60

In [183]:
#df.head()

In [184]:
df["cars_per_minute"] = (df.speed/(df.gap * 1000)) *60

In [185]:
#df.head()

In [186]:
df = df.rename(columns={'gap': 'gap_estimation', 'speed': 'speed_per_minute', 'cars_per_minute':'Cars_per_hour'})

In [187]:
#df.head()

In [188]:
#converting floats to int
df['Cars_per_hour'] = df.Cars_per_hour.astype(int)

In [189]:
#df.head()

In [190]:
#separating the columns
final = df.loc[ : , ["Date_Time","Cars_per_hour"]]
final.head()

            Date_Time  Cars_per_hour
0 2018-05-08 00:02:11              8
1 2018-05-08 01:00:46              8
2 2018-05-08 02:00:45              8
3 2018-05-08 03:00:43              9
4 2018-05-08 04:00:34              9

In [191]:
path = r"G:\\MovingWalls\\GAP ESTIMATION\\2.shell_traffic_20180611\\Result\\jalan ampang 10\\"
final.to_csv(path + name , index = None)

### Filtering singapore data

In [42]:
sing = pd.read_csv(r'G:\MovingWalls\singapore.csv')
sing.head()

,Name,Display Name,Ref ID,Media Operator,Facing Direction,Category,Format,Group,Type,Market Segment,...,Video Support,Image Support,Audio Support,Content Approval,Feature Support,Available Hours,Lead Time (in days),Any Exclusion,Address,MI Stage
0,Grand Indonesia,Grand Indonesia,NaN,Movingwalls Sdn Bhd,SOUTH,INDOOR,NaN,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jl. Kebon Kacang Raya No.55, Kb. Melati, Tanah...",New
1,DTCP05789-P,DTCP05789-P,TH-THR-10120-D-0001,ThreeSixtyFive Public Company Limited,NORTH-WEST,INDOOR,NaN,SHOP,DIGITAL-NETWORK,SHOPPERS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Soi Charoen Krung 74, Lane 1, Khwaeng Wat Phra...",Stable
2,WOW Subang SS15,WOW Subang SS15,MY-WOW-47500-D-0037,WOW OUTDOOR SDN BHD,NORTH,OUTDOOR,LARGE,PLAY,DIGITAL,"COLLEGE,BUSINESS-OWNERS,FOOD-LOVERS,STUDENTS,PMEB",...,mp4,jpg,NaN,NO,VIDEO,NaN,0.0,NaN,"47500, Jalan SS 15/8, Ss 15, 47500 Subang Jaya...",New
3,Media Uno,Media Uno,MY-MED-47800-D-0025,Media Uno Sdn Bhd,NORTH-EAST,OUTDOOR,NaN,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 Utama Shopping Centre, 1, Lebuh Bandar Utama...",Gold
4,WOW Taman Sri Rampai,WOW Taman Sri Rampai,MY-WOW-53300-D-0036,WOW OUTDOOR SDN BHD,EAST,OUTDOOR,LARGE,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NO,NaN,NaN,0.0,NaN,"Jalan 1/26, Taman Sri Rampai, 53300 Kuala Lump...",New

In [ ]:
big = sing[sing["Country"]=="Singapore"]
big.head()
big = big.reset_index(drop= true)
big.head()