In [2]:
import numpy as np
import pandas as pd

In [3]:
sing = pd.read_csv(r'G:\MovingWalls\singapore.csv')
sing.head()

,Name,Display Name,Ref ID,Media Operator,Facing Direction,Category,Format,Group,Type,Market Segment,...,Video Support,Image Support,Audio Support,Content Approval,Feature Support,Available Hours,Lead Time (in days),Any Exclusion,Address,MI Stage
0,Grand Indonesia,Grand Indonesia,NaN,Movingwalls Sdn Bhd,SOUTH,INDOOR,NaN,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jl. Kebon Kacang Raya No.55, Kb. Melati, Tanah...",New
1,DTCP05789-P,DTCP05789-P,TH-THR-10120-D-0001,ThreeSixtyFive Public Company Limited,NORTH-WEST,INDOOR,NaN,SHOP,DIGITAL-NETWORK,SHOPPERS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Soi Charoen Krung 74, Lane 1, Khwaeng Wat Phra...",Stable
2,WOW Subang SS15,WOW Subang SS15,MY-WOW-47500-D-0037,WOW OUTDOOR SDN BHD,NORTH,OUTDOOR,LARGE,PLAY,DIGITAL,"COLLEGE,BUSINESS-OWNERS,FOOD-LOVERS,STUDENTS,PMEB",...,mp4,jpg,NaN,NO,VIDEO,NaN,0.0,NaN,"47500, Jalan SS 15/8, Ss 15, 47500 Subang Jaya...",New
3,Media Uno,Media Uno,MY-MED-47800-D-0025,Media Uno Sdn Bhd,NORTH-EAST,OUTDOOR,NaN,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 Utama Shopping Centre, 1, Lebuh Bandar Utama...",Gold
4,WOW Taman Sri Rampai,WOW Taman Sri Rampai,MY-WOW-53300-D-0036,WOW OUTDOOR SDN BHD,EAST,OUTDOOR,LARGE,WORK,DIGITAL,NaN,...,NaN,NaN,NaN,NO,NaN,NaN,0.0,NaN,"Jalan 1/26, Taman Sri Rampai, 53300 Kuala Lump...",New

In [4]:
sing.Country

0                  NaN
1             Thailand
2             Malaysia
3             Malaysia
4             Malaysia
5             Malaysia
6             Malaysia
7             Malaysia
8             Malaysia
9             Malaysia
10            Malaysia
11           Singapore
12           Singapore
13           Singapore
14           Singapore
15           Singapore
16           Singapore
17            Malaysia
18           Singapore
19            Malaysia
20            Malaysia
21            Malaysia
22            Malaysia
23            Malaysia
24            Malaysia
25            Malaysia
26            Malaysia
27            Malaysia
28            Malaysia
29            Malaysia
             ...
4096         Indonesia
4097         Indonesia
4098         Indonesia
4099          Malaysia
4100          Malaysia
4101          Malaysia
4102          Malaysia
4103          Malaysia
4104          Malaysia
4105          Malaysia
4106          Malaysia
4107          Malaysia
4108          Malaysia
4109    United Kingdom
4110    United Kingdom
4111    United Kingdom
4112    United Kingdom
4113          Malaysia
4114          Thailand
4115       Philippines
4116       Philippines
4117       Philippines
4118               NaN
4119         Indonesia
4120          Malaysia
4121          Malaysia
4122         Indonesia
4123         Indonesia
4124         Indonesia
4125         Indonesia
Name: Country, Length: 4126, dtype: object

In [15]:
big = sing[sing["Country"]=="Singapore"]
big.head()
big = big.reset_index()
big.head()
big.columns
big["Ref ID"].unique
big[big["Name"]=="City House"]

,index,Name,Display Name,Ref ID,Media Operator,Facing Direction,Category,Format,Group,Type,...,Video Support,Image Support,Audio Support,Content Approval,Feature Support,Available Hours,Lead Time (in days),Any Exclusion,Address,MI Stage
691,3932,City House,City House,SG-FOC-068877-D-0007,Focus Media,NORTH,INDOOR,NaN,WORK,DIGITAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"36 Robinson Rd, Singapore 068877",New

In [10]:
big[big["Name"]=="KINGSMEN-  POMO"]

,index,Name,Display Name,Ref ID,Media Operator,Facing Direction,Category,Format,Group,Type,...,Video Support,Image Support,Audio Support,Content Approval,Feature Support,Available Hours,Lead Time (in days),Any Exclusion,Address,MI Stage
209,3173,KINGSMEN- POMO,POMO OOH,SG-KIN-188666-D-0001,Kingsmen Ooh Media Pte Ltd,NORTH,OUTDOOR,MEDIUM,STUDY,DIGITAL,...,"mp4,avi,mov,mpg,wmv,vob,fla,swf","jpg,jpeg,png,tiff,gif",NO,YES,"IMAGE,VIDEO",15:00,5.0,NaN,"19 Kirk Terrace, Singapore 228835",New

In [11]:
trik = big.loc[:,['Ref ID','Latitude', 'Longitude','Name','Postal Code','Address']]
trik.head()
trik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 6 columns):
Ref ID         695 non-null object
Latitude       695 non-null float64
Longitude      695 non-null float64
Name           695 non-null object
Postal Code    681 non-null object
Address        605 non-null object
dtypes: float64(2), object(4)
memory usage: 32.7+ KB

In [13]:
trik.to_csv(r'G:\MovingWalls\SingaporeSubzones.csv', index=None)