******************* if , elif , else *********************

In [1]:
x=True
if(x):
    print("x is true no problem")
elif(x==False):
    print("there is problem")
else:
    print("you suck")

x is true no problem

In [2]:
userName = "Tanvir"
password = 1234
if (userName == "Tanvir" and password == 1234):
    print("logged in successfully")
else:
    print("username and password error")

logged in successfully

************************ for loop ***************************

In [12]:
l = [1,2,3,4,5]
numb = 1
for numb in l:
    print (numb)

1
2
3
4
5

In [18]:
for num in l:
    if(num%2 == 0):
        print("even:",num)
    else:
        print("odd:",num)

odd: 1
even: 2
odd: 3
even: 4
odd: 5

In [24]:
s = "the quick "
for letters in s:
    print(letters)

t
h
e

q
u
i
c
k

In [33]:
############### Tuple unpacking (itteration)##############
l = [(1,2), ('big','fat'), (4,5)]

for tup in l:
    print(tup)
    
print("\nthis is the unpacking\n")

for (t1,t2) in l:    ##match up the items exactly like its written in the lsit
    print(t1)

(1, 2)
('big', 'fat')
(4, 5)

this is the unpacking

1
big
4

In [45]:
dict = {'book':
               {'writer_1':{
                    'name':'Rabindranath',
                    'address':'Kolkata'   
                 },
                'writer_2':{
                    'name':'Kazi Nazrul',
                    'address':'Bnagladesh'
                 }
              }
          }
for k,v in dict.items():
    print(k)
    print(v)
    print(v['writer_2'])

book
{'writer_1': {'name': 'Rabindranath', 'address': 'Kolkata'}, 'writer_2': {'name': 'Kazi Nazrul', 'address': 'Bnagladesh'}}
{'name': 'Kazi Nazrul', 'address': 'Bnagladesh'}

In [47]:
x=10

SyntaxError: can't assign to comparison (<ipython-input-47-bc9fb76ee638>, line 3)

******************************** While loop ************************

In [53]:
x=0
while x<10:
    print("thae value of x is: ",x)
    x+=1

thae value of x is:  0
thae value of x is:  1
thae value of x is:  2
thae value of x is:  3
thae value of x is:  4
thae value of x is:  5
thae value of x is:  6
thae value of x is:  7
thae value of x is:  8
thae value of x is:  9

In [5]:
y = 0

while y<10:
    if(y==3):
        print("y is 3")
        continue
    else:
        print("continuing...")
        break
    y+=1

continuing...

In [2]:
x=0
while x<10:
    print("I am a dumb fuck")
    x+=1

I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck
I am a dumb fuck

************************* Range *****************************

In [11]:
for numb in range(1,10,):
    print(numb)

1
2
3
4
5
6
7
8
9

In [10]:
start = 2
stop = 20
step = 3

for numb in range(start,stop,step):
    print(numb)

2
5
8
11
14
17

In [12]:
x = range(1,1000, 50)  ##storing a range

for numb in x:
    print (numb)

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951

******************List Comprehension**************************

In [14]:
l = []    ##normal way
for letter in "word":
    l.append(letter)
print[l]

['w', 'o', 'r', 'd']

In [16]:
#### list comprehension
list = [letter for letter in "word"]
print(list)

['w', 'o', 'r', 'd']

In [19]:
###list comprehension: squares of numbers
sqr = [x**2 for x in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
##checking even numbers with for loop and putting it in the list
l = []
for numb in range(20):
    if(numb % 2 == 0):
        l.append(numb)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
## checking even numbers in the list comprehension
list = [numb for numb in range(20) if numb%2 == 0]
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
### conversting celcius to farenheit
celcius = [3, 5.6, 6.09, 4, 8.75]

farenheit = [temp * 9/5 + 32 for temp in celcius]  
farenheit2 = [(temp * (9/5 + 32)) for temp in celcius]
print(farenheit)
print(farenheit2)

[37.4, 42.08, 42.962, 39.2, 47.75]
[101.39999999999999, 189.27999999999997, 205.84199999999998, 135.2, 295.75]

In [32]:
##nested list comprehension
list = [x**2 for x in [x**2 for x in range(20)]]
print(list)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321]